{
  "presets": ["stage-1"],
  "env": {
    "test": {
      "presets": ["env"],
    },
    "cjs": {
      "presets": [["env", {"loose": true}]],
      "plugins": ["add-module-exports"]
    },
    "es": {
      "presets": [["env", {"loose": true, "modules": false}]]
    }
  }
}
