{
  "presets": ["env", "stage-1"],
  "env": {
    "cjs": {
      "presets": [
        ["env", { "loose": true }],
        "stage-1"
      ],
      "plugins": ["add-module-exports"]
    },
    "es": {
      "presets": [
        ["env", { "loose": true, "modules": false }],
        "stage-1"
      ]
    }
  }
}
